p {
    font-size: +4px;
}

.header .menubar {
    height: 80px;
}

    .header .menubar .menubarItem {
        font-size: 40px;
    }

.content {
    width: 100vw;
    margin-left: 0px;
    margin-right: 0px;
}
