#interactive{
    width: 244px;
    height: 324px;
    padding: 5px;
    border: 2px solid #000000;
    position: relative;
}

#interactive-top{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 240px!important;
    height: 280px!important;
}

#interactive-menu{
    position: absolute;
    top: 280px;
    left: 0px;
    width: 40px;
    height: 40px;
}

#interactive-bottom{
    position: absolute;
    top: 280px;
    left: 40px;
    width: 200px!important;
    height: 40px!important;
}

#interactive-notification{
    position: absolute;
    top: 280px;
    left: 180px;
    width: 60px;
    height: 40px;
}

#interactive-nMenu{
    position: absolute;
    top: 20px;
    left: 40px;
    width: 200px;
    height: 260px;
}

#interactive-aboutIcon{
    position: absolute;
    top: 2px;
    left: 0px;
    width: 65px;
    height: 65px;
}

#interactive-calcIcon{
    position: absolute;
    top: 0px;
    left: 60px;
    width: 60px;
    height: 62px;
}

#interactive-hoverHint{
    width: 100%;
    padding: 20px;
    border: 1px dashed #262626;
}